.client-future-jobs-mobile-child {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 325.75px);
  right: 0%;
  left: 0%;
  background-color: var(--color-gray-100);
  height: 100vh;
  z-index: 0;
}

.client-future-jobs-mobile-item {
  width: 9.5px;
  position: absolute;
  margin: 0 !important;
  top: 198px;
  left: 332px;
  height: 19px;
  z-index: 3;
}
.icon38 {
  width: 135px;
  position: absolute;
  margin: 0 !important;
  top: 16px;
  right: 31px;
  height: 47px;
  object-fit: cover;
  z-index: 4;
}
.div182 {
  position: absolute;
  top: 345px;
  left: auto;
  line-height: 146.39%;
  font-weight: 700;
  width:100%;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  padding: 10px 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}
.div183 {
  position: relative;
  top: 351px;
  left: auto;
  font-size: var(--font-size-mini);
  line-height: 146.39%;
  font-weight: 300;
  display: inline-block;
  width: 100%;
  text-align: right;
  padding: 10px 24px;
  font-size: 15px;
}
.parent43 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* ממקם את הכותרת במרכז */
  text-align: center;
  margin-top: 15px; /* מוסיף רווח מעל הכותרת */
}

.client-future-jobs-mobile-inner {
  width: 193.3px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 58.75px);
  left: calc(50% - 96.5px);
  z-index: 6;
}
.group-child130 {
  position: absolute;
  top: 0px;
  left: calc(50% - 63.5px);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkorange-200);
  box-sizing: border-box;
  width: 127px;
  height: 45.8px;
}
.b67 {
  position: absolute;
  top: 11px;
  left: calc(50% - 38.5px);
  font-size: var(--font-size-mini);
  line-height: 146.39%;
  display: inline-block;
  font-family: var(--font-heebo);
  color: var(--color-darkorange-200);
  text-align: right;
  width: 77.9px;
  height: 22.9px;
}
.rectangle-parent62 {
  width: 127px;
  height: 45.8px;
  position: absolute;
  margin-top: 10px; /* ריווח מהחלק העליון */
  border: 1px;
  border-radius: 15px;
  right: 9%;
  top: 25%;

}

.vector-icon76 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 23.3px;
  height: 15.5px;
}
.vector-wrapper67 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 23.3px;
  position: absolute;
  margin: 0 !important;
  top: 40px;
  left: 51px;
  height: 15.5px;
  z-index: 9;
}
.client-future-jobs-mobile {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 817.5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 18px 177px;
  text-align: right;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-heebo);
  overflow-y: auto;
}

.clean-jobs-list-container {
  position: absolute;
  top:415px;
  right: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 0px; 
  
 
}

/* עיצוב התפריט הנפתח */
.dropdown-menu3 {
  color: rgb(34, 34, 34);
  font-weight: bold;
  position: absolute !important;
  background: white;
  border-radius: 10px;
  list-style: none;
  width: 200px !important;  /* הגדלתי קצת את הרוחב */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1000 !important;
  right: 10% !important;
  top: 240px !important; /* תיקון כדי שה-dropdown לא יהיה קרוב מדי */
  padding: 5px 0; /* כדי להוסיף ריווח פנימי */
}

.dropdown-item3 {
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 14px;
  padding: 10px; 
  display: flex;
  align-items: center; /* מרכז אנכית */
  justify-content: center; /* מרכז אופקית */
}

.dropdown-item3:hover {
  background: orange;
  color: white;
  border-radius: 5px;
}



.group8737 {
  width: 29px;
  height: 29px;
  position: relative;
  margin-top: 5px; /* מוסיף ריווח כדי שלא יכסה אלמנטים אחרים */
  border: 1px;
  top: 26.9%;
  background-color: #fafafa;
  left: -82%;
}

.vector-icon86 {
  position: absolute;
  top: 1.5px;
  left: calc(50% - 14.5px);
  width: 22.5px;
  height: 22.5px;
}

.vector-icon87 {
  position: absolute;
  top: 0px;
  left: calc(50% - 6.9px);
  width: 17.4px;
  height: 17.4px;
}

.CustomToggleButton2012{
  width: 50%;
  display: flex;
  justify-content: center; /* ממקם אותו במרכז */
  margin-top: 20px; /* מוסיף רווח מעל הכפתור */
  position: absolute;
  left: 45%;
  top: 32%;
}