.header-container {
  position: absolute; 
  top: 60px;       /* המרחק מלמעלה */
  right: 460px;      /* המרחק משמאל */
  color: #333;     /* צבע טקסט */
  font-family: 'Heebo'; /* או כל פונט אחר */
  z-index: 999;
direction: rtl;
}

.header-container h2 {
  font-size: 34px;
  margin: 0;
  font-weight: 600;
}

.header-container p {
  margin: 4px 0 0 0;
  font-size: 14px;
  color: #666;
}
.header-mobile {
  position: fixed !important;  /* מבטיח שהכותרת תישאר קבועה */
  top: 105px !important;        /* מצמיד את הכותרת לראש המסך */
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;     
  text-align: right !important; 
  direction: rtl !important;  /* יישור לימין */
  z-index: 10000 !important;  /* מבטיח שהכותרת תמיד תישאר למעלה */
  padding: 15px 20px !important; /* ריווח פנימי */
  background: transparent !important; /* רקע שקוף */
  box-shadow: none !important; /* מבטל צל */
  height: auto !important; /* מבטיח שהכותרת לא תשתנה בגובה */
}