.header-container {
  position: fixed; 
  top: 60px;       /* המרחק מלמעלה */
  right: 350px;      /* המרחק משמאל */
  color: #333;     /* צבע טקסט */
  font-family: 'Heebo'; /* או כל פונט אחר */
  z-index: 999;
direction: rtl;
}

.header-container h2 {
  font-size: 34px;
  margin: 0;
  font-weight: 600;
}

.header-container p {
  margin: 4px 0 0 0;
  font-size: 14px;
  color: #666;
}
.header-mobile {
  position: fixed !important;  /* קובע שהתפריט יישאר קבוע */
  top: 0 !important;           /* מוצמד לחלק העליון */
  left: 0 !important;
  width: 100% !important;      /* מכסה את כל הרוחב */
  z-index: 9999 !important;    /* מבטיח שהוא יהיה תמיד למעלה */
  text-align: center !important;
  padding: 15px 0 !important;  /* ריווח פנימי */
}