.icon39 {
  width: 197px;
  position: absolute;
  margin: 0 !important;
  top: 114px;
  left: calc(50% - 98.5px);
  height: 69px;
  object-fit: cover;
  z-index: 0;
}
.div184 {
  width: 263px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 223px);
  left: calc(50% - 123.5px);
  line-height: 146.39%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  flex-shrink: 0;
  z-index: 1;
}
.div185 {
  width: 300px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 189px);
  left: calc(50% - 141.5px);
  font-size: var(--font-size-base);
  line-height: 146.39%;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  flex-shrink: 0;
  z-index: 2;
}
.login-mobile-child {
  border: none;
  outline: none;
  background-color: var(--color-white);
  width: 63.68%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 126px);
  right: 16.09%;
  left: 20.23%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  height: 46px;
  z-index: 3;
}
.login-mobile-item {
  border: none;
  outline: none;
  background-color: var(--color-white);
  width: 63.68%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 60px);
  right: 16.09%;
  left: 20.23%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  height: 46px;
  z-index: 4;
}
.vector-icon77 {
  position: absolute;
  top: calc(50% - 22.5px);
  left: calc(50% - 53.5px);
  width: 107px;
  height: 45px;
}
.vector-wrapper68 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 107px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% + 6px);
  left: calc(50% - 45.5px);
  height: 45px;
  z-index: 5;
}
.group-child131 {
  position: absolute;
  top: calc(50% - 22.5px);
  left: calc(50% - 53.5px);
  border-radius: var(--br-xs);
  background-color: var(--color-darkslategray-200);
  width: 107px;
  height: 45px;
}
.div186 {
  position: absolute;
  top: calc(50% - 12.5px);
  left: calc(50% - 37.5px);
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-heebo);
  color: var(--color-white);
  text-align: center;
}
.rectangle-parent63 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 107px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% + 56px);
  left: calc(50% - 45.5px);
  height: 45px;
  z-index: 6;
}
.login-mobile {
  width: 100%;
  position: relative;
  background: linear-gradient(#fafafa, #fafafa), #fff;
  height: 852px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 33px var(--padding-9xl);
  box-sizing: border-box;
  gap: 39px;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-heebo);
}
