.manager-add-branch-mobile-child {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 324px);
  right: 0%;
  left: 0%;
  background-color: var(--color-gray-100);
  height: 742px;
  z-index: 0;
}
.b88 {
  width: 186px;
  position: absolute;
  margin: 0 !important;
  top: 128px;
  left: calc(50% - 21.5px);
  line-height: 146.39%;
  display: inline-block;
  z-index: 1;
}
.div222 {
  width: 264px;
  position: absolute;
  margin: 0 !important;
  top: 160px;
  left: calc(50% - 99.5px);
  font-size: var(--font-size-mini);
  line-height: 146.39%;
  font-weight: 300;
  display: inline-block;
  z-index: 2;
}
.group-child183 {
  border: none;
  outline: none;
  background-color: var(--color-white);
  position: absolute;
  width: 100%;
  top: calc(50% - 74px);
  right: 0%;
  left: 0%;
  border-radius: var(--br-4xs);
  height: 44px;
}
.group-child184 {
  border: none;
  outline: none;
  background-color: var(--color-white);
  position: absolute;
  width: 100%;
  top: calc(50% - 22px);
  right: 0%;
  left: 0%;
  border-radius: var(--br-4xs);
  height: 44px;
}
.group-child185 {
  border: none;
  outline: none;
  background-color: var(--color-white);
  position: absolute;
  width: 100%;
  top: calc(50% + 30px);
  right: 0%;
  left: 0%;
  border-radius: var(--br-4xs);
  height: 44px;
}
.rectangle-parent83 {
  width: 64.63%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 68px);
  right: 15.27%;
  left: 20.1%;
  height: 148px;
  z-index: 3;
}
.group-child186 {
  position: absolute;
  width: 100%;
  right: 0%;
  bottom: 0px;
  left: 0%;
  border-radius: var(--br-smi);
  background-color: var(--color-darkorange-200);
  height: 39.7px;
}
.b89 {
  position: absolute;
  width: 88.72%;
  bottom: 12.2px;
  left: 5.95%;
  font-size: var(--font-size-mini);
  display: inline-block;
  font-family: var(--font-heebo);
  color: var(--color-white);
  text-align: center;
  height: 18.3px;
}
.rectangle-parent84 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 37.66%;
  position: absolute;
  margin: 0 !important;
  right: 15.27%;
  bottom: 262.3px;
  left: 47.07%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 39.7px;
  z-index: 4;
}
.icon55 {
  width: 135px;
  position: absolute;
  margin: 0 !important;
  top: 22px;
  right: 24px;
  height: 47px;
  object-fit: cover;
  z-index: 5;
}
.vector-icon93 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-wrapper84 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 5.93%;
  position: absolute;
  margin: 0 !important;
  height: 1.85%;
  top: 4.52%;
  right: 83.92%;
  bottom: 93.62%;
  left: 10.15%;
  z-index: 6;
}
.div223 {
  position: absolute;
  top: 80px;
  left: calc(50% - 117.5px);
  line-height: 146.39%;
  font-weight: 300;
  display: inline-block;
  width: 235px;
}
.b90 {
  position: absolute;
  top: 48px;
  left: calc(50% - 16.5px);
  font-size: var(--font-size-5xl);
  line-height: 146.39%;
  display: inline-block;
  width: 134px;
  height: 35px;
}
.icround-business-icon1 {
  position: absolute;
  top: 0px;
  left: calc(50% + 61.5px);
  width: 56px;
  height: 56px;
}
.parent53 {
  width: 235px;
  position: absolute;
  margin: 0 !important;
  top: 225px;
  left: calc(50% - 107.5px);
  height: 99px;
  z-index: 7;
  font-size: var(--font-size-smi);
}
.manager-add-branch-mobile {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 836px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-12xs) 0px;
  box-sizing: border-box;
  gap: 17px 159px;
  text-align: right;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-heebo);
}
