.manager-display-worker-jobs-child {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 320.75px);
  right: 1.53%;
  left: -1.53%;
  background-color: var(--color-gray-100);
  height: 730px;
  z-index: 0;
}
.div52 {
  width: 171px;
  position: absolute;
  margin: 0 !important;
  top: 118px;
  left: calc(50% - 6.5px);
  line-height: 146.39%;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.div53 {
  width: 229px;
  position: absolute;
  margin: 0 !important;
  top: 150px;
  left: calc(50% - 64.5px);
  font-size: var(--font-size-smi);
  line-height: 146.39%;
  font-weight: 300;
  display: inline-block;
  z-index: 2;
}
.icon10 {
  width: 135px;
  position: absolute;
  margin: 0 !important;
  top: 20px;
  right: 32px;
  height: 47px;
  object-fit: cover;
  z-index: 3;
}
.vector-icon24 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 23.3px;
  height: 15.5px;
}
.vector-wrapper17 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 23.3px;
  position: absolute;
  margin: 0 !important;
  top: 36px;
  left: 41px;
  height: 15.5px;
  z-index: 4;
}
.group-child19 {
  position: absolute;
  top: calc(50% - 25.8px);
  left: calc(50% - 71.5px);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkorange-200);
  box-sizing: border-box;
  width: 143px;
  height: 51.6px;
}
.b18 {
  position: absolute;
  top: calc(50% - 11.8px);
  left: calc(50% - 44.5px);
  font-size: var(--font-size-base);
  line-height: 146.39%;
  font-family: var(--font-heebo);
  color: var(--color-darkorange-200);
  text-align: right;
}
.rectangle-parent14 {
  position: absolute;
  top: calc(50% - 25.8px);
  left: calc(50% - 71.5px);
  width: 143px;
  height: 51.6px;
}
.manager-display-worker-jobs-inner {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 143px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 207.75px);
  left: calc(50% - 71.5px);
  height: 51.6px;
  z-index: 5;
}
.manager-display-worker-jobs-item {
  width: 193.3px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 135.75px);
  left: calc(50% - 96.5px);
  z-index: 7;
}
.manager-display-worker-jobs {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 817.5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 18px 177px;
  text-align: right;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-heebo);
}
