.manager-customer-jobs-done-child {
  width: 79.17%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 512px);
  right: 20.83%;
  left: 0%;
  background-color: var(--color-gray-100);
  height: 1024px;
  z-index: 0;
}

.manager-customer-jobs-done-item {
  width: 239px;
  position: relative;
  max-height: 100%;
  object-fit: contain;
  z-index: 1;
}

.div46 {
  position: absolute;
  top: 0px;
  left: calc(50% - 157px);
  line-height: 146.39%;
  font-weight: 500;
  display: inline-block;
  width: 323.5px;
}

.div47 {
  position: absolute;
  top: 40px;
  left: calc(50% - 166.5px);
  font-size: var(--font-size-base);
  line-height: 146.39%;
  font-weight: 300;
  display: inline-block;
  width: 333px;
}

.parent13 {
  width: 333px;
  position: absolute;
  margin: 0 !important;
  top: 246px;
  left: calc(50% - 3px);
  height: 63px;
  z-index: 2;
}

.group-child26 {
  position: absolute;
  top: calc(50% - 512px);
  right: 0px;
  background-color: var(--color-white);
  width: 301px;
  height: 1024px;
}

.manager-customer-jobs-done-inner {
  width: 301px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 512px);
  right: 0px;
  height: 1024px;
  z-index: 3;
}

.div48 {
  flex: 1;
  position: relative;
  line-height: 146.39%;
  font-weight: 500;
}

.wrapper3 {
  position: absolute;
  top: 0px;
  left: calc(50% - 89.7px);
  width: 262.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.div49 {
  flex: 1;
  position: relative;
  line-height: 146.39%;
  font-weight: 300;
}

.wrapper4 {
  position: absolute;
  top: 41px;
  left: calc(50% - 172.5px);
  width: 342.7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: right;
  font-size: var(--font-size-base);
}

.frame-parent {
  width: 345px;
  position: absolute;
  margin: 0 !important;
  top: 50px;
  left: calc(50% - 15px);
  height: 64px;
  z-index: 4;
  text-align: center;
}

.group-child27 {
  position: absolute;
  top: 0px;
  left: calc(50% - 97px);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkorange-200);
  box-sizing: border-box;
  width: 194px;
  height: 70px;
}

.b26 {
  position: absolute;
  top: 18px;
  left: calc(50% - 58px);
  font-size: var(--font-size-5xl);
  line-height: 146.39%;
  font-family: var(--font-heebo);
  color: var(--color-darkorange-200);
  text-align: center;
}

.rectangle-parent16 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 194px;
  position: absolute;
  margin: 0 !important;
  top: 164px;
  left: calc(50% + 136px);
  height: 70px;
  z-index: 5;
}

.div50 {
  position: absolute;
  top: 5.21%;
  left: 91.55%;
  text-decoration: underline;
  line-height: 146.39%;
  font-weight: 300;
}

.div51 {
  position: absolute;
  top: 0%;
  left: 67.5%;
  text-decoration: underline;
  line-height: 146.39%;
  font-weight: 300;
}

.div52 {
  position: absolute;
  top: 0%;
  left: 47.78%;
  text-decoration: underline;
  line-height: 146.39%;
  font-weight: 300;
}

.div53 {
  position: absolute;
  top: 0%;
  left: 29.36%;
  text-decoration: underline;
  line-height: 146.39%;
  font-weight: 300;
}

.div54 {
  position: absolute;
  top: 0%;
  left: 11.48%;
  text-decoration: underline;
  line-height: 146.39%;
  font-weight: 300;
}

.parent14 {
  width: 64.1%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 49px);
  right: 25.97%;
  left: 9.93%;
  height: 96px;
  z-index: 6;
  font-size: var(--font-size-base);
}

.manager-customer-jobs-done-child1 {
  width: 280px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 157px);
  left: calc(50% - 255px);
  z-index: 7;
}

.vector-icon16 {
  position: absolute;
  top: 1.5px;
  left: calc(50% - 14.5px);
  width: 27.5px;
  height: 27.5px;
}

.vector-icon17 {
  position: absolute;
  top: 0px;
  left: calc(50% - 6.9px);
  width: 21.4px;
  height: 21.4px;
}

.group1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 29px;
  position: absolute;
  margin: 0 !important;
  top: 256px;
  left: calc(50% - 42px);
  height: 29px;
  z-index: 8;
}

.group-child28 {
  position: absolute;
  top: 10px;
  left: 0px;
  border-radius: var(--br-7xl);
  background-color: var(--color-darkorange-200);
  width: 52px;
  height: 52px;
}

.b27 {
  position: absolute;
  top: 0px;
  left: 12px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-heebo);
  color: var(--color-white);
  text-align: center;
}

.rectangle-parent17 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 52px;
  position: absolute;
  margin: 0 !important;
  top: 241px;
  left: 143px;
  height: 71px;
  z-index: 9;
}

.vector-icon18 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 133px;
  height: 52px;
}

.vector-wrapper13 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  right: 90px;
  bottom: 93px;
  width: 133px;
  height: 52px;
}

.icon13 {
  position: absolute;
  top: 50px;
  right: 40px;
  width: 232px;
  height: 81px;
  object-fit: cover;
}

.vector-icon19 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 144.7px;
  height: 37.6px;
}

.vector-wrapper14 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 123.7px;
  right: 12.2px;
  width: 144.7px;
  height: 37.6px;
}

.vector-icon20 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 147.8px;
  height: 47px;
}

.vector-wrapper15 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0px;
  right: 7px;
  width: 147.8px;
  height: 47px;
}

.div55 {
  position: absolute;
  top: 4px;
  right: 65px;
  font-size: var(--font-size-13xl);
  line-height: 146.39%;
  font-weight: 900;
  font-family: var(--font-heebo);
  color: var(--color-darkslategray-200);
  text-align: right;
}

.icbaseline-people-alt-icon3 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 55px;
  height: 55px;
}

.parent15 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 57px;
  right: 0px;
  width: 221px;
  height: 55px;
}

.group-parent9 {
  position: absolute;
  top: 221px;
  right: 47px;
  width: 221px;
  height: 161.3px;
}

.rectangle-parent18 {
  width: 301px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 512px);
  right: 0px;
  height: 1024px;
  z-index: 10;
}

.manager-customer-jobs-done {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 0px 61px;
  text-align: right;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-heebo);
}

.button-dropdown {

  background: white;
  border: 2px solid orange;
  color: orange;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-dropdown:hover {
  background: orange;
  color: white;
}

/* עיצוב התפריט הנפתח */
.dropdown-menu {
  color: rgb(0, 0, 0);
  font-weight: bold;
  position: absolute!important;
  background: white;
  border: 1px solid orange;
  border-radius: 10px;
  padding: 10px;
  list-style: none;
  width: 180px!important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 5px!important;
  text-align: center;
  z-index: 1000!important;
  right: 630px!important;
  top: 240px!important;
}

/* פריטים בתוך התפריט */
.dropdown-item {
  font-size: 15px;

  padding: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 14px;
}

.dropdown-item:hover {
  background: orange;
  color: white;
  border-radius: 5px;
}