.manager-customer-jobs-mobile-child {
  width: 305px;
  position: relative;
  border-top: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
  height: 1px;
  z-index: 0;
}
.manager-customer-jobs-mobile-item {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 325.75px);
  right: 0%;
  left: 0%;
  background-color: var(--color-gray-100);
  height: 735px;
  z-index: 1;
}
.b32 {
  width: 204px;
  position: absolute;
  margin: 0 !important;
  top: 118px;
  left: calc(50% - 39.5px);
  line-height: 146.39%;
  display: inline-block;
  z-index: 2;
}
.div69 {
  width: 264px;
  position: absolute;
  margin: 0 !important;
  top: 150px;
  left: calc(50% - 99.5px);
  font-size: var(--font-size-mini);
  line-height: 146.39%;
  font-weight: 300;
  display: inline-block;
  z-index: 3;
}
.manager-customer-jobs-mobile-inner {
  width: 9.5px;
  position: absolute;
  margin: 0 !important;
  top: 198px;
  left: 332px;
  height: 19px;
  z-index: 4;
}
.icon16 {
  width: 135px;
  position: absolute;
  margin: 0 !important;
  top: 16px;
  right: 31px;
  height: 47px;
  object-fit: cover;
  z-index: 5;
}
.vector-icon27 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 23.3px;
  height: 15.5px;
}
.vector-wrapper20 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 23.3px;
  position: absolute;
  margin: 0 !important;
  top: 32px;
  left: 41px;
  height: 15.5px;
  z-index: 6;
}
.div70 {
  position: absolute;
  top: calc(50% - 27px);
  left: calc(50% - 75px);
  line-height: 146.39%;
  font-weight: 500;
}
.div71 {
  position: absolute;
  top: calc(50% + 5px);
  left: calc(50% - 157px);
  font-size: var(--font-size-mini);
  line-height: 146.39%;
  font-weight: 300;
  display: inline-block;
  width: 314px;
}
.parent20 {
  width: 314px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 143.75px);
  left: calc(50% - 157.5px);
  height: 54px;
  z-index: 7;
}
.manager-customer-jobs-mobile-child1 {
  width: 193.3px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 58.75px);
  left: calc(50% - 96.5px);
  z-index: 8;
}
.group-child35 {
  position: absolute;
  top: 0px;
  left: calc(50% - 63.5px);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkorange-200);
  box-sizing: border-box;
  width: 127px;
  height: 45.8px;
}
.b33 {
  position: absolute;
  top: 11px;
  left: calc(50% - 38.5px);
  font-size: var(--font-size-mini);
  line-height: 146.39%;
  display: inline-block;
  font-family: var(--font-heebo);
  color: var(--color-darkorange-200);
  text-align: right;
  width: 77.9px;
  height: 22.9px;
}
.rectangle-parent23 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 127px;
  position: absolute;
  margin: 0 !important;
  top: 208px;
  left: calc(50% + 29.5px);
  height: 45.8px;
  z-index: 9;
}
.manager-customer-jobs-mobile {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 817.5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 18px 177px;
  text-align: right;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-heebo);
}
