.frame-child1 {
  flex: 1;
  position: relative;
  background-color: var(--color-gray-100);
  height: 773px;
  transform: rotate(180deg);
}
.manager-jobs-mobile-inner {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 347px);
  right: 0%;
  left: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;
}

.wrapper2 {
  width: 143px;
  position: absolute;
  margin: 0 !important;
  top: 189px;
  left: calc(50% + 21.5px);
  z-index: 3;
}
.vector-icon3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 23.3px;
  height: 15.5px;
}
.vector-wrapper1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 23.3px;
  position: absolute;
  margin: 0 !important;
  top: 33px;
  left: 47px;
  z-index: 5;
}
.icon7 {
  width: 135px;
  position: absolute;
  margin: 0 !important;
  top: 18px;
  right: 32px;
  height: 47px;
  object-fit: cover;
  z-index: 6;
}
.manager-jobs-mobile {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 852px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-lg);
  text-align: right;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-heebo);
}
.search-list-container {
  /* יוצר תצוגה אנכית עם רווח וגלילה */
  display: flex;
  flex-direction: column;
  gap: 16px; /* רווח בין הכרטיסים */
  max-height: 1600px; /* גובה מקסימלי */
  overflow-y: auto;   /* גלילה אנכית */
  margin-top: 280px;
  margin-right: 50px;
  margin-bottom: 50px;
}
.search-list-container .JobOptionMobile {
  position: relative !important;
  width: auto !important;
  height: auto !important;
  /* אפשר להוריד/להחליף פרמטרים נוספים שהיו ב-Search.css */
  margin: 0;
  padding: 16px;
  border: 1px solid #ccc; /* לדוגמה מסגרת */
  border-radius: 8px;
  background-color: #fff;
}

.date-picker-container889{
  position: absolute;
  top:205px;
  left:10%;
  z-index: 999;
}

.CustomToggleButton82{
  position: absolute;
  top:205px;
  left:220px;

}