.manager-display-worker-jobs-child1 {
  width: 79.17%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 512px);
  right: 20.83%;
  left: 0%;
  background-color: var(--color-gray-100);
  height: 1024px;
  z-index: 0;
}
.line-icon {
  width: 239px;
  position: relative;
  max-height: 100%;
  object-fit: contain;
  z-index: 1;
}
.div62 {
  width: 263px;
  position: absolute;
  margin: 0 !important;
  top: 57px;
  left: calc(50% + 71px);
  line-height: 146.39%;
  font-weight: 500;
  display: inline-block;
  z-index: 2;
}
.div63 {
  width: 289px;
  position: absolute;
  margin: 0 !important;
  top: 104px;
  left: calc(50% + 45px);
  font-size: var(--font-size-base);
  line-height: 146.39%;
  font-weight: 300;
  display: inline-block;
  z-index: 3;
}
.group-child29 {
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0%;
  left: 0%;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkorange-200);
  box-sizing: border-box;
  height: 70px;
}
.b22 {
  position: absolute;
  top: 17px;
  left: 14.43%;
  font-size: var(--font-size-5xl);
  line-height: 146.39%;
  font-family: var(--font-heebo);
  color: var(--color-darkorange-200);
  text-align: right;
}
.rectangle-parent20 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 13.47%;
  position: absolute;
  margin: 0 !important;
  top: 236px;
  right: 29.58%;
  left: 56.94%;
  height: 70px;
  z-index: 4;
}
.manager-display-worker-jobs-child2 {
  width: 280px;
  position: absolute;
  margin: 0 !important;
  top: 240px;
  left: calc(50% - 290px);
  z-index: 6;
}
.group-child30 {
  position: absolute;
  top: 10px;
  left: 0px;
  border-radius: var(--br-7xl);
  background-color: var(--color-darkorange-200);
  width: 52px;
  height: 52px;
}
.b23 {
  position: absolute;
  top: 0px;
  left: 12px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-heebo);
  color: var(--color-white);
  text-align: center;
}
.rectangle-parent21 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 52px;
  position: absolute;
  margin: 0 !important;
  top: 235px;
  left: 94px;
  height: 71px;
  z-index: 7;
}
.group-child31 {
  position: absolute;
  top: calc(50% - 512px);
  right: 0px;
  background-color: var(--color-white);
  width: 301px;
  height: 1024px;
}
.vector-icon29 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 133px;
  height: 52px;
}
.vector-wrapper22 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 879px;
  right: 90px;
  width: 133px;
  height: 52px;
}
.icon13 {
  position: absolute;
  top: 50px;
  right: 40px;
  width: 232px;
  height: 81px;
  object-fit: cover;
}
.vector-icon30 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 144.7px;
  height: 37.6px;
}
.vector-wrapper23 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 123.7px;
  right: 12.2px;
  width: 144.7px;
  height: 37.6px;
}
.vector-icon31 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 147.8px;
  height: 47px;
}
.vector-wrapper24 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0px;
  right: 7px;
  width: 147.8px;
  height: 47px;
}
.div64 {
  position: absolute;
  top: 4px;
  right: 65px;
  font-size: var(--font-size-13xl);
  line-height: 146.39%;
  font-weight: 900;
  font-family: var(--font-heebo);
  color: var(--color-darkslategray-200);
  text-align: right;
}
.icbaseline-people-alt-icon5 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 55px;
  height: 55px;
}
.parent13 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 57px;
  right: 0px;
  width: 221px;
  height: 55px;
}
.group-parent6 {
  position: absolute;
  top: 221px;
  right: 47px;
  width: 221px;
  height: 161.3px;
}
.rectangle-parent22 {
  width: 301px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 512px);
  right: 0px;
  height: 1024px;
  z-index: 8;
}
.manager-display-worker-jobs1 {
  width: 100%;
  position: relative;
  background: linear-gradient(#fff, #fff), #fff;
  height: 1024px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 0px 61px;
  text-align: right;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-heebo);
}
.jobs-list-container8 {
  display: flex;
  flex-direction: column;
  gap: 20px; /* רווח אנכי בין כרטיסים */
position: absolute;
top : 320px;
right:  500px;  
  /* אם תרצה גלילה בגובה קבוע: 
     max-height: 400px;
     overflow-y: auto; */
}