.component-child2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  border: 1px dashed var(--color-black);
  box-sizing: border-box;
}
.div131 {
  position: absolute;
  top: calc(50% - 99px);
  left: calc(50% - 113.5px);
  font-size: var(--font-size-xl);
  line-height: 146.39%;
  font-weight: 900;
}
.div132 {
  position: absolute;
  top: calc(50% - 70px);
  left: calc(50% - 70.5px);
  line-height: 146.39%;
  font-weight: 500;
}
.div133 {
  position: absolute;
  top: calc(50% - 47px);
  left: calc(50% - 59.5px);
  line-height: 146.39%;
  font-weight: 300;
}
.group-child105 {
  position: absolute;
  top: calc(50% - 20.5px);
  left: calc(50% - 47px);
  border-radius: var(--br-5xs);
  background-color: var(--color-darkorange-200);
  width: 94px;
  height: 41px;
}
.b59 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 9px);
  font-size: var(--font-size-base);
  font-family: var(--font-heebo);
  color: var(--color-white);
  text-align: center;
}
.group-child106 {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 34px);
  width: 22px;
  height: 22px;
}
.parent31 {
  position: absolute;
  top: calc(50% - 11.5px);
  left: calc(50% - 34px);
  width: 68px;
  height: 24px;
}
.rectangle-parent49 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: calc(50% - 20.5px);
  left: calc(50% - 47px);
  width: 94px;
  height: 41px;
}
.group-wrapper7 {
  position: absolute;
  top: calc(50% - 20.5px);
  left: calc(50% - 47px);
  width: 94px;
  height: 41px;
}
.group-wrapper6 {
  position: absolute;
  top: calc(50% - 3px);
  left: calc(50% - 39.5px);
  width: 94px;
  height: 41px;
}
.group-child107 {
  position: absolute;
  top: calc(50% - 20.5px);
  left: calc(50% - 47px);
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 94px;
  height: 41px;
}
.b60 {
  position: absolute;
  top: calc(50% - 11.5px);
  left: calc(50% - 39.8px);
  font-size: var(--font-size-xl);
  display: flex;
  font-family: var(--font-heebo);
  color: var(--color-white);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 79.5px;
  height: 23.6px;
}
.rectangle-parent50 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: calc(50% + 48px);
  left: calc(50% - 39.5px);
  width: 94px;
  height: 41px;
}
.component-group {
  position: absolute;
  top: calc(50% - 126px);
  left: calc(50% - 153.5px);
  width: 307px;
  height: 252px;
}
.worker-job-suc-mobile-inner {
  width: 307px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 125.75px);
  left: calc(50% - 153.5px);
  height: 252px;
  z-index: 0;
}
.worker-job-suc-mobile {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 817.5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
  font-family: var(--font-heebo);
}
