/* Overlay שמכסה את כל המסך */

/* חלון המודאל */
.worker-job-suc-mobile {
  width: 90%;
  max-width: 400px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  padding: 25px;
  position: absolute;
  text-align: center;
  font-family: "Heebo", sans-serif;
  animation: fadeIn 0.3s ease-in-out;
  z-index: 1000;
}

/* כפתור סגירה */
.close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #ff4d4d;
}

.job-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 6px; /* היה 12px - צמצמתי */
  line-height: 0.7; /* צמצום הרווח האנכי */
}

/* טקסט רגיל */
.job-address, .job-time {
  font-size: 16px;
  color: #444;
  margin-bottom: 4px; /* היה 10px - צמצמתי */
  line-height: 0.7; /* שומר על קומפקטיות */
}
/* קונטיינר כפתורים */
.button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;

}

/* כפתור תמונה */
.upload-btn {
  background: #ff9800;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  flex: 1;
}

/* כפתור אישור */
.confirm-btn {
  background: #4caf50;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  flex: 1;
}



/* אפקט כניסה */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
