.worker-future-jobs-mobile-child {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 320.75px);
  right: 0%;
  left: 0%;
  background-color: var(--color-gray-100);
  height: auto;
  min-height: 100vh;
  z-index: 0;
}
.div114 {
  width: 171px;
  position: absolute;
  margin: 0 !important;
  top: 128px;
  left: calc(50% - 6.5px);
  line-height: 146.39%;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.div115 {
  width: 229px;
  position: absolute;
  margin: 0 !important;
  top: 160px;
  left: calc(50% - 64.5px);
  font-size: var(--font-size-smi);
  line-height: 146.39%;
  font-weight: 300;
  display: inline-block;
  z-index: 2;
}
.icon26 {
  width: 135px;
  position: absolute;
  margin: 0 !important;
  top: 20px;
  right: 32px;
  height: 47px;
  object-fit: cover;
  z-index: 3;
}
.vector-icon50 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 23.3px;
  height: 15.5px;
}
.vector-wrapper41 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 23.3px;
  position: absolute;
  margin: 0 !important;
  top: 36px;
  left: 41px;
  height: 15.5px;
  z-index: 4;
}
.group-child91 {
  position: absolute;
  top: calc(50% - 25.8px);
  left: calc(50% - 71.5px);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkorange-200);
  box-sizing: border-box;
  width: 143px;
  height: 51.6px;
}
.b53 {
  position: absolute;
  top: calc(50% - 11.8px);
  left: calc(50% - 44.5px);
  font-size: var(--font-size-base);
  line-height: 146.39%;
  font-family: var(--font-heebo);
  color: var(--color-darkorange-200);
  text-align: right;
}
.rectangle-parent43 {
  position: absolute;
  top: calc(50% - 25.8px);
  left: calc(50% - 71.5px);
  width: 143px;
  height: 51.6px;
}
.worker-future-jobs-mobile-inner {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 143px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 207.75px);
  left: calc(50% - 71.5px);
  height: 51.6px;
  z-index: 5;
}
.worker-future-jobs-mobile-item {
  width: 193.3px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 135.75px);
  left: calc(50% - 96.5px);
  z-index: 7;
}
.worker-future-jobs-mobile {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 817.5px;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 18px 177px;
  text-align: right;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-heebo);
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
  overflow-y: auto;       /* גלילה אנכית */

}
.jobs-list-container {
  position: absolute;
    top: 300px;
    left: 30%;
    transform: translateX(-40%); /* ממרכז את התוכן */
    display: flex;
    flex-direction: column;
    align-items: center; /* מוודא שהתוכן בפנים גם ממורכז */
}


.date-picker-container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  position:absolute;
  top: 200px ;
}

.mui-date-input {
  width: 100px;
  max-width: 180px;
  color: white;

}

.mui-date-input input {
  text-align: center;
}
.date-picker-container6{
  position: absolute;
  top: calc(9% + 160px); /* ממקם אותו קצת יותר למטה */
  left: 30%; /* ממקם באמצע */
  transform: translateX(-50%); /* שומר על המרכז */
  display: flex;
  align-items: center;
  width: 150px; /* רוחב קבוע */
  height: 52px; /* גובה קבוע */
  transition: all 0.3s ease; /* אנימציה חלקה */
}

.CustomToggleButton223{
  position: absolute;
    top: calc(9% + 160px); /* ממקם אותו קצת יותר למטה */
    left: 70%; /* ממקם באמצע */
    transform: translateX(-50%); /* שומר על המרכז */
    display: flex;
    align-items: center;
    width: 150px; /* רוחב קבוע */
    height: 52px; /* גובה קבוע */
    transition: all 0.3s ease; /* אנימציה חלקה */
}