
.div280 {
  position: absolute;
  top: 27.69%;
  left: 66.85%;
  line-height: 146.39%;
  font-weight: 300;
}
.div281 {
  position: absolute;
  top: 27.69%;
  left: 90.9%;
  line-height: 146.39%;
  font-weight: 300;
}
.div282 {
  position: absolute;
  top: 36.92%;
  left: 49.08%;
  line-height: 146.39%;
  font-weight: 300;
  text-align: center;
}
.group-child194 {
  position: absolute;
  width: 100%;
  top: calc(50% - 21px);
  right: 0%;
  left: 0%;
  border-radius: var(--br-smi);
  background-color: var(--color-darkorange-200);
  height: 42px;
}
.b114 {
  position: absolute;
  width: 82.86%;
  top: calc(50% - 14px);
  left: 8.57%;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-heebo);
  color: var(--color-white);
  text-align: center;
}
.rectangle-parent97 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 40.08%;
  top: calc(50% - 21px);
  right: 59.92%;
  left: 0%;
  height: 42px;
}
.group-child195 {
  position: absolute;
  width: 100%;
  top: calc(50% - 21px);
  right: 0%;
  left: 0%;
  border-radius: var(--br-smi);
  background-color: var(--color-darkslategray-300);
  height: 42px;
}
.rectangle-parent98 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 40.08%;
  top: calc(50% - 21px);
  right: 0%;
  left: 59.92%;
  height: 42px;
}
.group-parent44 {
  position: absolute;
  width: 28.39%;
  top: calc(50% - 20.5px);
  right: 68.91%;
  left: 2.71%;
  height: 42px;
}
.customeroption {
  position: absolute;
  height: 60.19%;
  width: 100%;
  top: 39.81%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-heebo);
}
