.donejobcustomer-mobile-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
}
.div303 {
  position: absolute;
  top: 42.68%;
  left: 21.09%;
  line-height: 146.39%;
  font-weight: 300;
}
.div304 {
  position: absolute;
  top: 62.6%;
  left: 39.8%;
  line-height: 146.39%;
  font-weight: 300;
}
.group-child208 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkorange-200);
}
.div305 {
  position: absolute;
  top: 13.11%;
  left: 9.73%;
  font-size: var(--font-size-base);
  line-height: 146.39%;
  font-family: var(--font-heebo);
  color: var(--color-white);
  text-align: right;
}
.rectangle-parent107 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
}
.donejobcustomer-mobile-inner {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 12.4%;
  width: 38.47%;
  top: 84.55%;
  right: 30.92%;
  bottom: 3.05%;
  left: 30.61%;
}
.div306 {
  position: absolute;
  top: 22.76%;
  left: 38.44%;
  line-height: 146.39%;
  font-weight: 300;
}
.div307 {
  position: absolute;
  top: 4.47%;
  left: 22.45%;
  line-height: 146.39%;
  font-weight: 300;
}
.div308 {
  position: absolute;
  top: 5.28%;
  left: 78.91%;
  font-size: var(--font-size-base);
  line-height: 146.39%;
  font-weight: 500;
}
.div309 {
  position: absolute;
  top: 25.2%;
  left: 81.97%;
  font-size: var(--font-size-base);
  line-height: 146.39%;
  font-weight: 500;
}
.div310 {
  position: absolute;
  top: 45.12%;
  left: 68.03%;
  font-size: var(--font-size-base);
  line-height: 146.39%;
  font-weight: 500;
}
.div311 {
  position: absolute;
  top: 65.04%;
  left: 77.55%;
  font-size: var(--font-size-base);
  line-height: 146.39%;
  font-weight: 500;
}
.donejobcustomer-mobile-item {
  position: absolute;
  height: 0.41%;
  width: 100.34%;
  top: 20.12%;
  right: -0.17%;
  bottom: 79.47%;
  left: -0.17%;
  border-top: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
}
.donejobcustomer-mobile-child1 {
  position: absolute;
  height: 0.41%;
  width: 100.34%;
  top: 39.23%;
  right: -0.17%;
  bottom: 60.37%;
  left: -0.17%;
  border-top: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
}
.donejobcustomer-mobile-child2 {
  position: absolute;
  height: 0.41%;
  width: 100.34%;
  top: 59.96%;
  right: -0.17%;
  bottom: 39.63%;
  left: -0.17%;
  border-top: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
}
.donejobcustomer-mobile-child3 {
  position: absolute;
  height: 0.41%;
  width: 100.34%;
  top: 79.07%;
  right: -0.17%;
  bottom: 20.53%;
  left: -0.17%;
  border-top: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
}
.donejobcustomer-mobile-child4 {
  position: absolute;
  height: 79.67%;
  width: 0.34%;
  top: -0.2%;
  right: 37.24%;
  bottom: 20.53%;
  left: 62.41%;
  border-right: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.donejobcustomer-mobile {
  width: 294px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% + 15.25px);
  left: calc(50% - 147.5px);
  height: 246px;
  z-index: 7;
  text-align: right;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-heebo);
}
