.donejobcustomer-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
}
.div298 {
  position: absolute;
  top: 27.69%;
  left: 41.17%;
  line-height: 146.39%;
  font-weight: 300;
}
.div299 {
  position: absolute;
  top: 27.69%;
  left: 27.52%;
  line-height: 146.39%;
  font-weight: 300;
}
.div300 {
  position: absolute;
  top: 20%;
  left: 64.25%;
  line-height: 146.39%;
  font-weight: 300;
}
.div301 {
  position: absolute;
  top: 27.69%;
  left: 82.45%;
  line-height: 146.39%;
  font-weight: 300;
}
.group-child207 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkorange-200);
}
.div302 {
  position: absolute;
  top: 14.88%;
  left: 13.65%;
  font-size: var(--font-size-base);
  line-height: 146.39%;
  font-family: var(--font-heebo);
  color: var(--color-white);
  text-align: center;
}
.rectangle-parent106 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 51.69%;
  width: 13.49%;
  top: 24.62%;
  right: 84.34%;
  bottom: 23.69%;
  left: 2.17%;
}
.donejobcustomer {
  position: absolute;
  height: 67.71%;
  width: 100%;
  top: 32.29%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  text-align: right;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-heebo);
}
