.group-child209 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
}
.div316 {
  position: absolute;
  top: 42.5%;
  left: 21.09%;
  line-height: 146.39%;
  font-weight: 300;
}
.div317 {
  position: absolute;
  top: 60%;
  left: 39.8%;
  line-height: 146.39%;
  font-weight: 300;
}
.div318 {
  position: absolute;
  top: 25%;
  left: 38.44%;
  line-height: 146.39%;
  font-weight: 300;
}
.div319 {
  position: absolute;
  top: 8.21%;
  left: 22.45%;
  line-height: 146.39%;
  font-weight: 300;
}
.div320 {
  position: absolute;
  top: 8.57%;
  left: 78.91%;
  font-size: var(--font-size-base);
  line-height: 146.39%;
  font-weight: 500;
}
.div321 {
  position: absolute;
  top: 25.36%;
  left: 81.97%;
  font-size: var(--font-size-base);
  line-height: 146.39%;
  font-weight: 500;
}
.div322 {
  position: absolute;
  top: 42.86%;
  left: 68.03%;
  font-size: var(--font-size-base);
  line-height: 146.39%;
  font-weight: 500;
}
.div323 {
  position: absolute;
  top: 60.36%;
  left: 77.55%;
  font-size: var(--font-size-base);
  line-height: 146.39%;
  font-weight: 500;
}
.group-child210 {
  position: absolute;
  height: 0.36%;
  width: 100.34%;
  top: 21.25%;
  right: -0.17%;
  bottom: 78.39%;
  left: -0.17%;
  border-top: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
}
.group-child211 {
  position: absolute;
  height: 0.36%;
  width: 100.34%;
  top: 38.04%;
  right: -0.17%;
  bottom: 61.61%;
  left: -0.17%;
  border-top: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
}
.group-child212 {
  position: absolute;
  height: 0.36%;
  width: 100.34%;
  top: 56.25%;
  right: -0.17%;
  bottom: 43.39%;
  left: -0.17%;
  border-top: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
}
.group-child213 {
  position: absolute;
  height: 0.36%;
  width: 100.34%;
  top: 70.89%;
  right: -0.17%;
  bottom: 28.75%;
  left: -0.17%;
  border-top: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
}
.group-child214 {
  position: absolute;
  height: 71.43%;
  width: 0.34%;
  top: -0.18%;
  right: 37.24%;
  bottom: 28.75%;
  left: 62.41%;
  border-right: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.rectangle-parent108 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
}
.div324 {
  position: absolute;
  top: 81.07%;
  left: 37.41%;
  line-height: 146.39%;
  font-weight: 300;
}
.featurejobcustomer-mobile {
  width: 294px;
  position: absolute;
  margin: 0 !important;
  top: 416px;
  left: 53px;
  height: 280px;
  z-index: 10;
  text-align: right;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-heebo);
}
