.featurejobcustomer-child {
  position: absolute;
  height: 67.71%;
  width: 100%;
  top: 32.29%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
}
.div312 {
  position: absolute;
  top: 51.04%;
  left: 40.95%;
  line-height: 146.39%;
  font-weight: 300;
}
.div313 {
  position: absolute;
  top: 51.04%;
  left: 27.41%;
  line-height: 146.39%;
  font-weight: 300;
}
.div314 {
  position: absolute;
  top: 45.83%;
  left: 64.25%;
  line-height: 146.39%;
  font-weight: 300;
}
.div315 {
  position: absolute;
  top: 51.04%;
  left: 82.34%;
  line-height: 146.39%;
  font-weight: 300;
}
.featurejobcustomer {
  width: 64.1%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 49px);
  right: 25.97%;
  left: 9.93%;
  height: 96px;
  z-index: 3;
  text-align: right;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-heebo);
}
