.group-child219 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
}
.div329 {
  position: absolute;
  top: 27.69%;
  left: 41.17%;
  line-height: 146.39%;
  font-weight: 300;
}
.div330 {
  position: absolute;
  top: 27.69%;
  left: 27.52%;
  line-height: 146.39%;
  font-weight: 300;
}
.div331 {
  position: absolute;
  top: 27.69%;
  left: 64.25%;
  line-height: 146.39%;
  font-weight: 300;
}
.div332 {
  position: absolute;
  top: 27.69%;
  left: 82.45%;
  line-height: 146.39%;
  font-weight: 300;
}
.rectangle-parent113 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
}
.group-child220 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkorange-200);
}
.div333 {
  position: absolute;
  top: 14.88%;
  left: 13.65%;
  font-size: var(--font-size-base);
  line-height: 146.39%;
  font-family: var(--font-heebo);
  color: var(--color-white);
  text-align: center;
}
.rectangle-parent114 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 51.69%;
  width: 13.49%;
  top: 27.69%;
  right: 84.34%;
  bottom: 20.62%;
  left: 2.17%;
}
.joboptionclient {
  width: 64.1%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 18px);
  right: 25.97%;
  left: 9.93%;
  height: 65px;
  z-index: 6;
  text-align: right;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-heebo);
}
