.joboptionclientmobile-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
}
.div334 {
  position: absolute;
  top: 43.67%;
  left: 21.09%;
  line-height: 146.39%;
  font-weight: 300;
}
.div335 {
  position: absolute;
  top: 59.18%;
  left: 39.8%;
  line-height: 146.39%;
  font-weight: 300;
}
.group-child221 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkorange-200);
}
.div336 {
  position: absolute;
  top: 11.36%;
  left: 7.98%;
  font-size: var(--font-size-5xl);
  line-height: 146.39%;
  font-family: var(--font-heebo);
  color: var(--color-white);
  text-align: right;
}
.rectangle-parent115 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 13.92%;
  width: 55.44%;
  top: 79.43%;
  right: 22.11%;
  bottom: 6.65%;
  left: 22.45%;
}
.rectangle-parent115:hover {
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}

@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  100% {
    box-shadow: inset 0 0 14px 0 rgb(0 0 0 / 50%);
  }
}
.div337 {
  position: absolute;
  top: 28.16%;
  left: 38.44%;
  line-height: 146.39%;
  font-weight: 300;
}
.div338 {
  position: absolute;
  top: 13.92%;
  left: 22.45%;
  line-height: 146.39%;
  font-weight: 300;
}
.div339 {
  position: absolute;
  top: 14.56%;
  left: 78.91%;
  font-size: var(--font-size-base);
  line-height: 146.39%;
  font-weight: 500;
}
.div340 {
  position: absolute;
  top: 30.06%;
  left: 81.97%;
  font-size: var(--font-size-base);
  line-height: 146.39%;
  font-weight: 500;
}
.div341 {
  position: absolute;
  top: 45.57%;
  left: 68.03%;
  font-size: var(--font-size-base);
  line-height: 146.39%;
  font-weight: 500;
}
.div342 {
  position: absolute;
  top: 61.08%;
  left: 77.55%;
  font-size: var(--font-size-base);
  line-height: 146.39%;
  font-weight: 500;
}
.joboptionclientmobile-item {
  position: absolute;
  height: 0.32%;
  width: 100.34%;
  top: 26.11%;
  right: -0.17%;
  bottom: 73.58%;
  left: -0.17%;
  border-top: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
}
.joboptionclientmobile-inner {
  position: absolute;
  height: 0.32%;
  width: 100.34%;
  top: 40.98%;
  right: -0.17%;
  bottom: 58.7%;
  left: -0.17%;
  border-top: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
}
.joboptionclientmobile-child1 {
  position: absolute;
  height: 0.32%;
  width: 100.34%;
  top: 57.12%;
  right: -0.17%;
  bottom: 42.56%;
  left: -0.17%;
  border-top: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
}
.joboptionclientmobile-child2 {
  position: absolute;
  height: 0.32%;
  width: 100.34%;
  top: 71.99%;
  right: -0.17%;
  bottom: 27.69%;
  left: -0.17%;
  border-top: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
}
.joboptionclientmobile-child3 {
  position: absolute;
  height: 72.47%;
  width: 0.34%;
  top: -0.16%;
  right: 37.24%;
  bottom: 27.69%;
  left: 62.41%;
  border-right: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.joboptionclientmobile {
  width: 294px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% + 7.25px);
  left: calc(50% - 143.5px);
  height: 316px;
  z-index: 7;
  text-align: right;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-heebo);
}
