.logo-carousel {
  width: 80%;
  margin: auto;
  height: 120px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-slide img {
  width: 100px; /* או לפי הצורך */
  height: auto;
  object-fit: contain;
}
