.logo-carousel {
  width: 100%;
  overflow: visible !important;
  height: 150px !important; /* ודא שיש גובה לקרוסלה */
  padding: 10px 0; /* מרווח קל מלמעלה ולמטה */
}

.slick-list {
  overflow: visible !important; /* מוודא שהקרוסלה לא חותכת את התוכן */
}

.slick-track {
  display: flex;
  align-items: center;
}

.logo-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.logo-slide img {
  width: 120px;
  height: 200px;
  object-fit: contain; /* מוודא שהתמונה לא תיחתך */
  width: 120px;
  height: 200px;
  object-fit: contain;
  width: 250px;
  height: 150px;
  object-fit: contain;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3sease-in-out;
}



