.logo-carousel {
  width: 80%;
  margin: auto;
  height: 100px; /* הוסף גובה */
  overflow: hidden;
}

.logo-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image {
  max-width: 100%;
  height: auto;
}
