.instance-child7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
}
.b126 {
  position: absolute;
  display: none;
  width: 21.1px;
  height: 13px;
}
.group-child225 {
  position: absolute;
  border-radius: 50%;
  background-color: var(--color-limegreen);
  width: 1.1px;
  height: 3px;
  display: none;
}
.parent78 {
  position: absolute;
  top: 59.46%;
  left: 236.36%;
  width: 0px;
  height: 0px;
}
.b127 {
  position: absolute;
  width: 99.52%;
  top: 0%;
  left: 0%;
  display: inline-block;
}
.div328 {
  position: absolute;
  width: 77.8%;
  top: 47.62%;
  left: 22.2%;
  color: var(--color-darkslategray-100);
  display: inline-block;
}
.group-wrapper8 {
  position: absolute;
  height: 70%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 30%;
  left: 0%;
}
.div329 {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  display: inline-block;
}
.group-wrapper9 {
  position: absolute;
  height: 36.67%;
  width: 70.6%;
  top: 63.33%;
  right: 0.43%;
  bottom: 0%;
  left: 28.98%;
  color: var(--color-darkslategray-100);
}
.group-parent51 {
  position: absolute;
  height: 81.08%;
  width: 59.87%;
  top: 9.46%;
  right: 5.3%;
  bottom: 9.46%;
  left: 34.82%;
  font-size: var(--font-size-mini);
  color: var(--color-black);
}
.group-child226 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-6xs);
  background-color: var(--color-darkorange-200);
}
.b128 {
  position: absolute;
  width: 79.8%;
  top: 14.63%;
  left: 10.1%;
  font-size: var(--font-size-xl);
  line-height: 146.39%;
  display: flex;
  font-family: var(--font-heebo);
  color: var(--color-white);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.rectangle-parent117 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 55.41%;
  width: 25.3%;
  top: 18.92%;
  right: 70.96%;
  bottom: 25.68%;
  left: 3.74%;
}
.rectangle-parent116 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
}
.managerjobworkermobile {
  width: 313px;
  position: relative;
  margin: 10px auto;

  height: 74px;
  
  z-index: 6;
  text-align: right;
  font-size: var(--font-size-2xs);
  color: var(--color-limegreen);
  font-family: var(--font-heebo);
}
