.group-child200 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
}
.div292 {
  position: absolute;
  top: 7.17%;
  left: 73.81%;
  line-height: 146.39%;
  font-weight: 500;
}
.div293 {
  position: absolute;
  top: 29.15%;
  left: 73.81%;
  line-height: 146.39%;
  font-weight: 500;
}
.div294 {
  position: absolute;
  top: 51.12%;
  left: 77.21%;
  line-height: 146.39%;
  font-weight: 500;
}
.group-child201 {
  position: absolute;
  height: 0.45%;
  width: 100.34%;
  top: 24.89%;
  right: -0.17%;
  bottom: 74.66%;
  left: -0.17%;
  border-top: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
}
.group-child202 {
  position: absolute;
  height: 0.45%;
  width: 100.34%;
  top: 45.96%;
  right: -0.17%;
  bottom: 53.59%;
  left: -0.17%;
  border-top: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
}
.group-child203 {
  position: absolute;
  height: 0.45%;
  width: 100.34%;
  top: 68.83%;
  right: -0.17%;
  bottom: 30.72%;
  left: -0.17%;
  border-top: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
}
.group-child204 {
  position: absolute;
  height: 69.51%;
  width: 0.34%;
  top: -0.22%;
  right: 37.24%;
  bottom: 30.72%;
  left: 62.41%;
  border-right: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.div295 {
  position: absolute;
  top: 4.48%;
  left: 39.12%;
  font-size: var(--font-size-xl);
  line-height: 146.39%;
  font-weight: 300;
  color: var(--color-darkslategray-100);
}
.div296 {
  position: absolute;
  top: 27.35%;
  left: 14.63%;
  font-size: var(--font-size-xl);
  line-height: 146.39%;
  font-weight: 300;
  color: var(--color-darkslategray-100);
}
.div297 {
  position: absolute;
  top: 49.78%;
  left: 22.45%;
  font-size: var(--font-size-xl);
  line-height: 146.39%;
  font-weight: 300;
  color: var(--color-darkslategray-100);
  text-align: center;
}
.rectangle-parent103 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
}
.group-child205 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-smi);
  background-color: var(--color-darkorange-200);
}
.b120 {
  position: absolute;
  width: 82.87%;
  top: 16.67%;
  left: 8.61%;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-heebo);
  color: var(--color-white);
  text-align: center;
}
.rectangle-parent104 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 100%;
  width: 45.82%;
  top: 0%;
  right: 54.18%;
  bottom: 0%;
  left: 0%;
}
.group-child206 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-smi);
  background-color: var(--color-darkslategray-300);
}
.rectangle-parent105 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 100%;
  width: 45.82%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 54.18%;
}
.group-parent47 {
  position: absolute;
  height: 18.83%;
  width: 85.37%;
  top: 74.44%;
  right: 6.46%;
  bottom: 6.73%;
  left: 8.16%;
}
.group-parent46 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 294px;
  height: 223px;
}
.workeroptionmobile {
  width: 294px;
  position: absolute;
  margin: 0 !important;
  top: 338px;
  left: 49px;
  height: 223px;
  z-index: 7;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-heebo);
}
