.workeroption-child {
  position: absolute;
  width: 100%;
  top: calc(50% - 32.5px);
  right: 0%;
  left: 0%;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  height: 65px;
}
.div283 {
  position: absolute;
  top: calc(50% - 14.5px);
  left: 62.73%;
  line-height: 146.39%;
  font-weight: 300;
}
.div284 {
  position: absolute;
  top: calc(50% - 14.5px);
  left: 91.12%;
  line-height: 146.39%;
  font-weight: 300;
}
.div285 {
  position: absolute;
  top: calc(50% - 8.5px);
  left: 40.09%;
  line-height: 146.39%;
  font-weight: 300;
  text-align: center;
}
.group-child196 {
  position: absolute;
  width: 100%;
  top: calc(50% - 21px);
  right: 0%;
  left: 0%;
  border-radius: var(--br-smi);
  background-color: var(--color-darkorange-200);
  height: 42px;
}
.b116 {
  position: absolute;
  width: 82.86%;
  top: calc(50% - 14px);
  left: 8.57%;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-heebo);
  color: var(--color-white);
  text-align: center;
}
.rectangle-parent99 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 11.38%;
  top: calc(50% - 20.5px);
  right: 85.92%;
  left: 2.71%;
  height: 42px;
}
.group-child197 {
  position: absolute;
  width: 100%;
  top: calc(50% - 21px);
  right: 0%;
  left: 0%;
  border-radius: var(--br-smi);
  background-color: var(--color-darkslategray-300);
  height: 42px;
}
.rectangle-parent100 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 11.38%;
  top: calc(50% - 20.5px);
  right: 68.91%;
  left: 19.72%;
  height: 42px;
}
.workeroption {
  position: absolute;
  width: 100%;
  top: calc(50% - 11px);
  right: 0%;
  left: 0%;
  height: 65px;
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-heebo);
}
